# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# ===============================
# Node / React
# ===============================
node_modules/
build/
dist/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Media / Uploads
# ===============================
backend/videos/
*.webm
*.wav

# ===============================
# Logs
# ===============================
*.log
