# Web framework
fastapi
uvicorn[standard]

# Environment variables
python-dotenv

# LLM (Groq)
groq

# Audio & Speech
speechrecognition
sounddevice
numpy
scipy

# Validation
pydantic
#gdemizhzaqrplqaofxls
#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkZW1pemh6YXFycGxxYW9meGxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MjE2OTYsImV4cCI6MjA4NjE5NzY5Nn0.NH1EdO_7kzl_z6szO8iow4WorSitY0EUx13nc_zK9BQ
#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkZW1pemh6YXFycGxxYW9meGxzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYyMTY5NiwiZXhwIjoyMDg2MTk3Njk2fQ.ZQezNyYIpqcf8k8F3YsxHbVp8mSsKPf_x0mlOaKzb7g
#uvicorn app.main:app --reload